{% extends base.html %}

{% block content %}
<div class= "container">
<p>{{ symbol }}</p>
<p> </p>
<form action= "{{ url_for(".portfolio_preview") }}" method="POST">
  {{ form.hidden_tag() }}
  {{form.symbol.label}}  {{form.symbol(size=10)}}
  <input type="submit" value="Go">
</form>
</div>
{% endblock  %}


{% comment %} symbol=data['symbol'],
    #         companyName=data['companyName'],
    #         exchange=data['exchange'],
    #         industry=data['industry'],
    #         website=data['website'],
    #         description=data['description'],
    #         CEO=data['CEO'],
    #         issueType=data['issueType'],
    #         sector=data['sector'], {% endcomment %}
